@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Compacta D OT LIght Compress";
  src: url("/fonts/compactadot_lightcompress.otf");
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0;
}

@font-face {
  font-family: "modern-gothic";
  src: url("/fonts/modern-gothic-regular.otf");
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/FontsFree-Net-Maison-Neue-Mono.ttf");
}

@font-face {
  font-family: "Maison Neue Book";
  src: url("/fonts/FontsFree-Net-Maison-Neue-Book.ttf");
}


@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply bg-black text-white;
  }
}